@charset "UTF-8";
@font-face {
  font-family: "Averta500";
  /* Averta 400 нету в шрифтах и некоторых других */
  src: url("fonts/AvertaCY-500.woff") format("woff"), url("fonts/AvertaCY-500.woff2") format("woff2");
}

@font-face {
  font-family: "Museo300";
  src: url("fonts/MuseoSansCyrl-300.woff") format("woff"), url("fonts/MuseoSansCyrl-300.woff2") format("woff2");
}

@font-face {
  font-family: "Museo500";
  src: url("fonts/MuseoSansCyrl-500.woff") format("woff"), url("fonts/MuseoSansCyrl-500.woff2") format("woff2");
}

@font-face {
  font-family: "Museo100";
  src: url("fonts/MuseoSansCyrl-100.woff") format("woff"), url("fonts/MuseoSansCyrl-100.woff2") format("woff2");
}

@font-face {
  font-family: "Stem900";
  src: url("fonts/Stem-900.woff") format("woff"), url("fonts/Stem-900.woff2") format("woff2");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: none;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  min-width: 340px;
  width: 100%;
  height: 100%;
}

.chatbar {
  z-index: 2;
  width: 89px;
  height: 89px;
  position: fixed;
  border: none;
  right: 97px;
  bottom: 57px;
  background-color: #4339f2;
  border-radius: 50px;
  background-image: url("imgs/chatbar.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1632px;
  padding: 0 144px;
}

.first-window {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 14, 49, 0.6)), to(rgba(16, 14, 49, 0.6))), url("imgs/first-window/bg.png");
  background-image: -webkit-linear-gradient(rgba(16, 14, 49, 0.6), rgba(16, 14, 49, 0.6)), url("imgs/first-window/bg.png");
  background-image: -o-linear-gradient(rgba(16, 14, 49, 0.6), rgba(16, 14, 49, 0.6)), url("imgs/first-window/bg.png");
  background-image: linear-gradient(rgba(16, 14, 49, 0.6), rgba(16, 14, 49, 0.6)), url("imgs/first-window/bg.png");
  min-height: 100vh;
  background-position: 50% top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.header {
  margin: 50px 72px 0px 72px;
  max-width: 1728px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  min-height: 211px;
  border-radius: 24px;
}

.header_inner {
  padding: 49px 48.5px 44px 48.5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 42px;
}

.header_logo {
  width: 203px;
  height: 49px;
}

.header_social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header_social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 48px;
}

.header_social-item:last-child {
  margin-right: 0;
}

.header_social-img {
  margin-right: 18px;
}

.header_social-link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.header_social-name {
  color: #212121;
  font-size: 18px;
  font-family: "Averta500";
  margin-bottom: 6px;
  display: block;
}

.header_social-text {
  color: #757575;
  font-size: 16px;
  font-family: "Museo300";
}

.header_nav {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header_nav-link {
  font-size: 18px;
  color: #757575;
  margin-left: 48px;
  font-family: "Averta500";
}

.header_nav-link:hover {
  text-decoration: underline;
}

.header_nav-link:first-child {
  margin-left: 0;
}

.header_contacts {
  text-align: right;
}

.header_contacts-link {
  color: #757575;
  font-size: 18px;
  font-family: "Averta500";
  margin-right: 48px;
}

.header_contacts-link:hover {
  text-decoration: underline;
}

.header_contacts-link:last-child {
  margin-right: 0;
}

.about {
  margin-top: 80px;
  bottom: 10px;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.about_inner {
  max-width: 649px;
  min-height: 569px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about_title {
  color: white;
  font-size: calc(47px + (13) * ((100vw - 360px) / (1920 - 360)));
  font-family: "Stem900";
  line-height: 70px;
}

.about_subtitle {
  width: 555px;
  color: white;
  font-family: "Museo500";
  font-size: calc(16px + (4) * ((100vw - 360px) / (1920 - 360)));
  line-height: 34px;
  margin-bottom: 10px;
}

.about_subtitle span {
  font-family: "Museo100";
  color: #d8d8d8;
}

.about_buttons {
  max-width: 603px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about_buttons-catalog, .about_buttons-pickup {
  min-height: 60px;
  max-height: 60px;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: White;
  font-size: 18px;
  font-family: "Averta500";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  width: 100%;
}

.about_buttons-first {
  min-width: 307px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #4339f2;
  border-radius: 12px;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.about_buttons-first:hover {
  background-color: #2e27af;
}

.about_buttons-img {
  position: absolute;
  right: 52px;
  z-index: 2;
}

.about_buttons-catalog {
  padding-left: 43px;
  background-color: transparent;
  position: relative;
  z-index: 3;
  padding-bottom: 5px;
  padding-right: 47px;
}

.about_buttons-pickup {
  border-radius: 12px;
  width: 272px;
  background-color: transparent;
  border: 1px solid white;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  margin-left: 15px;
  min-width: 272px;
}

.about_buttons-pickup:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.scroll-hidden {
  overflow: hidden;
}

.mobile-header {
  display: none;
}

@media (max-width: 1700px) {
  .first-window {
    padding: 0 20px;
  }
  .header {
    margin-top: 20px;
    width: 100%;
    max-width: 1310px;
  }
  .header_social-item {
    margin: 0px 20px 0px 20px;
    text-align: center;
  }
  .header_social-item:last-child {
    margin: 0px 20px 0px 20px;
  }
  .header_social-img {
    display: none;
  }
  .header_block-logo {
    width: 203px;
  }
  .header_inner {
    padding: 50px;
  }
  .about {
    margin-top: 40px;
    width: auto;
  }
}

@media (max-width: 1390px) {
  .first-window {
    margin: 0;
    padding: 0px 0px 0px 0px;
  }
  .header {
    margin-top: 0;
    width: 100%;
    max-width: none;
    border-radius: 0px;
  }
  .header_inner {
    grid-row-gap: 22px;
    padding: 20px 15px 20px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .header_nav-link, .header_contacts-link {
    height: auto;
    margin: 0 15px;
  }
  .header_nav-link:first-child, .header_nav-link:last-child, .header_contacts-link:first-child, .header_contacts-link:last-child {
    margin: 0 15px;
  }
  .chatbar {
    right: 20px;
    bottom: 20px;
  }
}

@media (max-width: 910px) {
  .first-window {
    padding: 0 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container {
    padding: 0px;
  }
  .about_inner {
    display: block;
  }
  .about_title, .about_subtitle {
    width: auto;
  }
  .about_buttons {
    margin: 0 auto;
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .about_buttons-catalog, .about_buttons-pickup {
    width: calc(100vw - 40px);
    margin: auto;
  }
  .about_buttons-pickup {
    margin-top: 20px;
  }
  .header_social, .header_social-link {
    height: auto;
    width: auto;
  }
  .header_social-text, .header_social-name, .header_social-link-text, .header_social-link-name {
    height: auto;
    width: auto;
  }
  .header {
    position: fixed;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 101;
    top: 0;
    display: none;
  }
  .header_inner {
    padding: 0;
    min-height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header_contacts {
    margin-bottom: 25px;
  }
  .header_logo {
    display: none;
  }
  .header-active {
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    display: block;
  }
  .header_social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_social-link {
    margin: 7px 0;
  }
  .header_nav, .header_contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    text-align: center;
    margin-top: 7px;
  }
  .header_nav-link, .header_contacts-link {
    margin: 7px 0;
  }
  .mobile-header {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 649px;
  }
  .mobile-header_burger {
    width: 50px;
    height: 40px;
    position: relative;
    cursor: pointer;
    z-index: 102;
  }
  .mobile-header_burger:not(.burger-active) .mobile-header_burger-line {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .mobile-header_burger.burger-active .mobile-header_burger-line {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    position: absolute;
  }
  .mobile-header_burger.burger-active .mobile-header_burger-line:nth-child(1) {
    top: 19px;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .mobile-header_burger.burger-active .mobile-header_burger-line:nth-child(1)::after {
    display: none;
  }
  .mobile-header_burger.burger-active .mobile-header_burger-line:nth-child(2) {
    top: 19px;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .mobile-header_burger-line {
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
  }
  .mobile-header_burger-line:first-child {
    top: 0;
  }
  .mobile-header_burger-line:first-child::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    top: 19px;
    background-color: inherit;
  }
  .mobile-header_burger-line-bg {
    background-color: black;
  }
  .mobile-header_burger-line:last-child {
    bottom: 0;
  }
}
